@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #ff4500;
  --secondary: #047fb0;
  --primary-light: #f88358;
  --secondary-light: #87ceeb;
  --third-colour: #ffd700;
  --dark: #111;
  --light: #fffaf0;
  --grey-dark: #333;
  --grey-light: #ccc;
  --grey-extra-light: #eee;
  --size-1: 0.0625rem; /* 1px / 16 = 0.0625rem */
  --size-2: 0.125rem;  /* 2px / 16 = 0.125rem */
  --size-3: 0.1875rem; /* 3px / 16 = 0.1875rem */
  --size-4: 0.25rem;   /* 4px / 16 = 0.25rem */
  --size-5: 0.3125rem; /* 5px / 16 = 0.3125rem */
  --size-xs: 0.375rem; /* 6px / 16 = 0.375rem */
  --size-sm: 0.5rem;   /* 8px / 16 = 0.5rem */
  --size-md: 0.625rem; /* 10px / 16 = 0.625rem */
  --size-lg: 0.75rem;  /* 12px / 16 = 0.75rem */
  --size-xl: 0.9375rem; /* 15px / 16 = 0.9375rem */
  --size-xxl: 1.25rem; /* 20px / 16 = 1.25rem */
  --size-xxxl: 1.5625rem; /* 25px / 16 = 1.5625rem */
  --box-shadow-light: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-medium: 0px 4px 8px rgba(0, 0, 0, 0.2);
  --box-shadow-dark: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--primary-light);
  color: var(--grey-dark);
}

.intro {
  background-color: var(--dark);
  color: var(--light);
  padding: var(--size-xl) var(--size-xxxl);
}

.logo {
  font-family: 'Lovers Quarrel', cursive;
  font-size: 3rem;
  letter-spacing: var(--size-2);
  color: var(--primary-light)
}

.heading {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: var(--size-2);
}

